.page-header {
  background-image: url(../img/header-bkg--320.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #1d2631;
}

.download-title {
  display: none;
}

.main-nav {
  background-color: #181f28;
  border-bottom: 1px solid white;
}
.nav-inner {
  margin: 0 auto;
}
.header-inner {
  color: white;
  width: 320px;
  margin: 0 auto;
}

.nav-toggler {
  width: 320px;
  margin: 0 auto;
  height: 25px;
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.toggler-button {
  background-color: #1d2631;
  color: whitesmoke;
  border: none;
  cursor: pointer;
}

.main-nav-items {
  width: 100%;
  position: fixed;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #181f28;
}

.main-nav-item {
  padding: 25px;
  text-align: center;
  border-bottom: 1px solid white;
}

a {
  text-decoration: none;
  color: white;
}

.nav-href:hover {
  border-bottom: 2px solid white;
  padding-bottom: 5px;
}

.nav-href:active {
  color: #6a757f;
  border-bottom: none;
}

.download-app {
  padding: 20px;
  height: 270px;
  margin-top: 400px;
}

.download-button {
  width: 280px;
  height: 50px;
  border: solid 3px white;
  border-radius: 25px;
  background: none;
  color: white;
  font-weight: bold;
  outline: none;
}

.download-button:hover {
  color: #d22856;
  background-color: white;
}

.download-button:active {
  color: #f1becc;
}

.download-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  margin-left: 35px;
  margin-right: 35px;
}

.download-info {
  text-align: center;
  margin-top: 25px;
  font-weight: lighter;
  font-size: 18px;
}

@media (min-width: 700px) {
  .page-header {
    background-image: url(../img/header-bkg--700.jpg);
    height: 725px;
  }
  .nav-toggler {
    width: 700px;
  }

  .header-inner {
    height: 500px;
    width: 700px;
    margin: 0 auto;
  }
  .download-app {
    margin-top: 140px;
    padding-top: 0;
    width: 300px;
    height: 410px;
  }
  .download-title {
    display: block;
    font-weight: lighter;
    font-size: 40px;
    margin: 0;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    padding-bottom: 35px;
  }
  .download-icon {
    margin-top: 45px;
    margin-bottom: 60px;
  }
}

@media (min-width: 1200px) {
  .page-header {
    background-image: url(../img/header-bkg--1200.jpg);
    background-size: 100% auto;
    height: 850px;
  }
  .nav-inner {
    width: 1200px;
  }
  .header-inner {
    height: 550px;
    width: 1200px;
    margin: 0 auto;
  }
  .toggler-button {
    display: none;
  }
  .pink-logo {
    display: block;
    padding-left: 130px;
  }
  .nav-inner {
    display: flex;
    align-items: center;
  }
  .nav-toggler {
    border-bottom: 0px;
  }
  .main-nav-items {
    display: block;
    display: flex;
    position: relative;
    align-items: center;
  }
  .main-nav-item {
    padding-left: 80px;
    border-bottom: 0px;
  }
  .download-app {
    margin-left: 130px;
  }
  .download-title {
    font-size: 50px;
    width: 300px;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .page-header {
    background-image: url(../img/header-bkg--1440.jpg);
    background-position: center;
  }
}
/*# sourceMappingURL=header.css.map */
